body{

}

.static{
    z-index: 5;
}

.static-box{
     position: static; /* already static (default) */
     height: 100px;
     width: 100px;
     background-color: cornflowerblue;
}

.sticky-box{
    height: 100px;
    width: 100px;
    position: sticky;
    top: 100px;
    left: 100px;
    background-color: olivedrab;
}

.relative{
    position: relative;
    z-index: 5;
}

.relative-box{
    width: 100px;
    height: 100px;
    background-color: blue;
    bottom: 100px;
    left: 100px;
    position: relative;

    /* determines whos in front
    the higher the number the greater the priority */
    z-index: 2;
}

.fixed-box{
    width: 100px;
    height: 100px;
    background-color: brown;
    top: 150px;
    left: 100px;
    position: fixed;
    z-index: 1;
}

.absolute{
    position: relative;
}
.absolute-box{
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: orangered;
    height: 100px;
    width: 100px;
}

